<div class="container-fluid">
  <div class="form-group">
    <form (ngSubmit)='submitQuote()' #goalForm='ngForm'>
      <div class="centered">
        <div >
          <label for="uploader">Uploader</label>
          <input type="text" id='uploader' [(ngModel)]="newQuote.uploader" required class="form-control" name="uploader"
            #uploader="ngModel">
        </div>
        <div >
          <label for="name">Quote</label>
          <!-- <input type="text" required class="form-control" id="quote"> -->
          <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel"
            required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p> Quote is Required</p>
          </div>
        </div>
        <div>

          <label for="completeDate">Submit date</label><br>
          <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate"
            #completeDate="ngModel" required>
        </div>
        <div >
          <button type="Submit" class="btn-info">Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
