<div class="container">
  <form>
    <div class="row form-group">
      <div class="col-md-3">
        <label for="uploader">Uploader</label>
        <input type="text" required class="form-control" id="uploader">
      </div>
      <div class="col-md-3">
        <label for="quote">Quote</label>
        <input type="text" required class="form-control" id="quote">
      </div>
      <div class="col-md-3">
        <label for="author">Author</label><br>
        <input type="text" required class="form-control" id="author">
      </div>
      <div class="col-md-3">
          <button type="button" class="btn-info">Upload</button>
      </div>
      
      
    </div>
  </form>

</div>
