<div class="container-fluid">
    <h2 class="centered">Enter a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-4"><label for="Author">Author</label>
                    <input type="tex" required class="form-control" id="author">
                    <br></div>
                <div class="col-4"><label for="Quote">Quote</label>
                    <input type="tex" required class="form-control" id="quote">
                    <br></div>
                <div class="col-4"></div><label for="">Author</label>
                    <input type="tex" required class="form-control" id="author">
                    <br></div>
            </div>
            
        </div>
        
    </form>
</div>