<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">

        <div class="card-heading">
          <h1 class="centered">Quotes for daily motivation</h1>
        </div>
        <div class="card-body">
          <p class="centered">Get inspired for life</p>
          <ol>
            <div>
              <li *ngFor='let quote of Quotes; let i = index'  class="pad-5">
                {{quote.name}}
                <button class="btn-white" (click)='togleDetails(i)'> show More</button><br>

                <app-quote-details *ngIf='quote.showUploader' [Quotes]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
              </li><br> <br>

            </div>
          </ol><br>
          <br>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <h2 class="centered">Add your favourite quote</h2>
      <app-quotes-form (addGoal)= "addNewQuote($event)"></app-quotes-form>
    </div>
  </div>

</div>
