.card {
  /* background-image: url("http://vinarshop.com/assets/images/motivation.jpg");
  background-size: 100%;
  background-repeat: no-repeat; */
  background-color: antiquewhite;
  top: 20px;
  color: black;
}