<div class="container">
  <div class="card">
    <div class=" centered">
      <h1>Quotes for daily motivation</h1>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card-body">
          <p class="centered">Get inspired for life</p>

          <ol>
            <div>
              <li *ngFor='let quote of quotes; let i = index' class="pad-5">
                {{quote.name}}
                <button class=" btn btn-primary textSize" (click)='togleDetails(i)'> show More</button><br>
                <button class="btn-success textSize" (click)='quote.upvote = quote.upvote + 1'> Like it!!
                  {{ quote.upvote }}</button>
                <button class="btn-info textSize" (click)='quote.downvote = quote.downvote + 1'>Naah!!
                  {{ quote.downvote }} </button>

                <app-quote-details *ngIf='quote.showUploader' [Quotes]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quote-details>
              </li><br> <br>

            </div>
          </ol><br>
          <br>
        </div>

      </div>
      <div class="col-md-5">
        <h2 class="centered">Add your favourite quote</h2>
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
    </div>
  </div>
</div>
