<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">

        <div class="card-heading">
          <h1 class="centered">Quotes for daily motivation</h1>
        </div>
        <div class="card-body">
          <p class="centered">Get inspired for life</p>
          <ol>
            <div>
              <li *ngFor='let quote of Quotes'>
                {{quote.name}} since {{quote.completeDate|date }} by {{quote.uploader}}<br>
              </li><br> <br>
              <app-quote-details [Quotes]='Quotes'></app-quote-details>
            </div>
          </ol>
          <div class="details">


            <!-- <button (click)='quoteDelete(true)'>Remove Quote</button> -->
          </div>
          <br>
          <br>
          <br>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <h2 class="centered">Add your favourite quote</h2>
      <app-quotes-form></app-quotes-form>
    </div>
  </div>

</div>
