/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.css";
@import "./assets/css/fonts.css";

button{
  margin: 3px;
}
.textSize{
  font-size: 10px;
}
.centered
{
  text-align: center;
}
h1
{
  text-align: center;
}
